body {
  margin: 0;
}
#active {
  color: red;
}

.saw {
  color: gray;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 2px solid gray;
  width: 180px;
  margin: 0;
  padding: 20px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  padding-left: 33px;
}

#grid #article {
  padding-left: 100px;
}

@media(max-width: 760px) {
  #grid {
    display: block;
  }

  ol {
    width: 100%;
    list-style-type: none;
    border-right: none;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  #video {
    width: 480px;
    height: 320px;
    text-align: center;
  }
}
